In [24]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.model_selection import KFold # 交差検証法に関する関数

import warnings
warnings.simplefilter('ignore')

In [16]:
# データの読み込み
df = pd.read_csv('./data/input_01.csv')

In [17]:
df.head()

,Unnamed: 0,ID,category,main_category,currency,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,period,n_words,log_goal
0,0,1000002330,Poetry,Publishing,GBP,1000.0,0.0,0,0,GB,0.0,0.0,58,6,7.335601
1,1,1000003930,Narrative Film,Film & Video,USD,30000.0,2421.0,0,15,US,100.0,2421.0,59,8,10.308953
2,2,1000004038,Narrative Film,Film & Video,USD,45000.0,220.0,0,3,US,220.0,220.0,44,3,10.714418
3,3,1000007540,Music,Music,USD,5000.0,1.0,0,1,US,1.0,1.0,29,7,8.517193
4,5,1000014025,Restaurants,Food,USD,50000.0,52375.0,1,224,US,52375.0,52375.0,34,3,10.819778

In [29]:
y = df[['state']]

In [18]:
x_cols = ['category', 'main_category', 'currency', 'country', 'period', 'n_words', 'log_goal']

In [19]:
x = df[x_cols]

In [27]:
x.shape

(331675, 7)

In [30]:
y.shape

(331675, 1)

In [20]:
x.head()

         category main_category currency country  period  n_words   log_goal
0          Poetry    Publishing      GBP      GB      58        6   7.335601
1  Narrative Film  Film & Video      USD      US      59        8  10.308953
2  Narrative Film  Film & Video      USD      US      44        3  10.714418
3           Music         Music      USD      US      29        7   8.517193
4     Restaurants          Food      USD      US      34        3  10.819778

In [31]:
n_split = 5 # グループ数を設定（今回は5分割）

# cross_valid_mae = 0
split_num = 1

In [32]:
kf = KFold(n_splits=n_split, shuffle=True, random_state=1234)

In [38]:
for train_idx, valid_idx in kf.split(x, y):
    x_train, x_valid = x.iloc[train_idx], y.iloc[train_idx]
    y_train, y_valid = x.iloc[valid_idx], y.iloc[valid_idx]
    
    #

In [39]:
print(x_train.shape)
print(x_valid.shape)
print(y_train.shape)
print(y_valid.shape)

(265340, 7)
(265340, 1)
(66335, 7)
(66335, 1)