## Nishika
https://www.nishika.com/competitions/32/topics/310

## チュートリアル
前処理
https://colab.research.google.com/drive/1Rp6NoqFCzSj9y0JSuOZXOP-kf3HPLYh6

推論
https://colab.research.google.com/drive/1S1Dyk1sWzJye_VcJH6DICZYuLyf5VNI8

In [10]:
import numpy as np
import pandas as pd
import pandas_profiling as pdp

In [11]:
# データの読み込み
df = pd.read_csv('./data/ks-projects-201801.csv')

# 成功（successful）と失敗（failed）以外のデータを除外する
df = df[(df['state'] == 'successful') | (df['state'] == 'failed')]

In [16]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.0,52375.0,50000.00

In [17]:
# 日時に関する列を string から TimeStamp に変換
df['deadline'] = pd.to_datetime(df['deadline'])
df['launched'] = pd.to_datetime(df['launched'])

# 期間の列を作成
df['period'] = (df['deadline'] - df['launched']).dt.days # 差分を日数として表示

In [18]:
# 単語数をカウントする関数
def count_words(sentence):
    words_list = str(sentence).split(' ') 
    return len(words_list)
# 単語数をカウントする関数を name の各データに適用
df['n_words'] = df['name'].apply(count_words)

In [19]:
# usd_goal_realを対数変換する
df['log_goal'] = np.log(df['usd_goal_real'])
df = df.drop(columns='usd_goal_real')

In [20]:
columns = ['name', 'n_words', 'main_category', 'category', 'currency', 'country', 
           'deadline', 'launched', 'period', 'state', 'log_goal']

In [21]:
df_pdp = df[columns]

In [22]:
df_pdp.head()

,name,n_words,main_category,category,currency,country,deadline,launched,period,state,log_goal
0,The Songs of Adelaide & Abullah,6,Publishing,Poetry,GBP,GB,2015-10-09,2015-08-11 12:12:28,58,failed,7.335601
1,Greeting From Earth: ZGAC Arts Capsule For ET,8,Film & Video,Narrative Film,USD,US,2017-11-01,2017-09-02 04:43:57,59,failed,10.308953
2,Where is Hank?,3,Film & Video,Narrative Film,USD,US,2013-02-26,2013-01-12 00:20:50,44,failed,10.714418
3,ToshiCapital Rekordz Needs Help to Complete Album,7,Music,Music,USD,US,2012-04-16,2012-03-17 03:24:11,29,failed,8.517193
5,Monarch Espresso Bar,3,Food,Restaurants,USD,US,2016-04-01,2016-02-26 13:38:27,34,successful,10.819778

# データ可視化

In [25]:
profile = pdp.ProfileReport(df_pdp)

In [26]:
profile.to_file("./data/KS_ProfileReport.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/opt/conda/lib/python3.10/site-packages/scipy/stats/_stats_py.py:4868: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]